# Framework web ligero para estructurar los endpoints de la API REST
flask

# Intercambia recursos de origen cruzado (CORS) para conectar React y Flask
flask-cors

# Biblioteca de análisis de datos
pandas

# Motor interno para que Pandas pueda interpretar la estructura de archivos .xlsx
openpyxl

# Framework para construir interfaces de usuario analíticas en Python
dash

# Biblioteca de graficación interactiva
plotly

