:root {
  --color-fondo: var(--color-background);
  --espacio-xl: var(--space-xl);
}

.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-fondo);
}

.layout-content {
  flex: 1;
  margin-left: 220px;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: var(--espacio-xl);
  flex-grow: 1;
  overflow-y: auto;
}