.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
}

.layout-content {
  flex: 1;
  margin-left: 260px; /* Ancho de la barra lateral */
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: var(--space-xl);
  flex-grow: 1;
  overflow-y: auto;
}
